.actions-container {
    height: 19px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.actions-dropdown-container {
    width: 0px;
}

.actions-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 70px;
    right: 155px;
    height: 100px;
    width: 160px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.actions-button {
    color: #333;
    font-size: 14px;
}

#default-notebook-delete-button {
    color: #aaaaaa;
    cursor: default;
}
