.note-card-container {
    height: 148px;
    padding: 20px 24px;
    cursor: pointer;
    margin-left: 2px;
}

.note-card-note-title {
    font-size: 14px;
    color: #333333;
}

.note-card-note-text {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #737373;
    height: 43px;
    margin: 10px 0px;
}

.note-card-updated-at {
    font-size: 14px;
    color: #737373;
}

.selected-note {
    border: 2px solid #cccccc;
}
