.note-card-container {
    height: 148px;
    padding: 20px 24px;
    cursor: pointer;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-card-note-title {
    font-size: 14px;
    color: #333333;
}

.note-card-note-text {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #737373;
    height: 100px;
    margin: 10px 0px;
}

.note-card-updated-at {
    font-size: 14px;
    color: #737373;
}

.selected-note {
    border: 2px solid #cccccc;
}
